
html {
  height: 100%;

  &.is-lock {
    overflow: hidden;
  }
}

body {
  min-height: 100%;
  min-height: 100dvh; // Перезапишет предыдущее свойство в современных браузерах
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-light-gray);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  background-color: var(--color-dark);
}

main {
  flex-grow: 1;

}

.container {
  max-width: calc(var(--container-width) + var(--container-pading-x) * 2);
  padding-inline: var(--container-pading-x);
  margin-inline: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

a,
button,
textarea,
input,
svg * {
  transition-duration: var(--transition-duration);
}




header.header {
  display: none;
}

main {
  section:not(:last-child) {
    display: none;
  }
}



select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

 /* background: url("../icons/calculate-arrow.svg") right 20px center / 10px no-repeat;*/

  &:invalid {
    color: var(--color-light-gray);
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}