@use "0-globalstyles" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;

  background-color: var(--color-dark-alt);

  &__inner {
    padding: 16px;
    width: 100%;
    max-width: 1920px;
    margin-inline: auto;
    padding-block: max(16px, 1.2vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid transparent;

    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 0 100px;

    @keyframes scrolling-header {
      to {
        padding-block: 10px;
        border-bottom-color: var(--color-dark-gray);
      }
    }

  }

  &__overlay-menu {
    @include mobile-above {
      display: contents;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 50px;
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-dark-gray);
      transition-duration: 0.2s;
      transition-behavior: allow-discrete;

      &[open] {
        display: flex;


        @starting-style {
          opacity: 0;
          translate: 100%;
        }
      }

      &:not([open]) {
        opacity: 0;
        translate: 100%;
      }
    }
  }

  &__menu {
    &-list {
      @include mobile-above {
        display: flex;
        align-items: center;
        column-gap: 3.23vw;
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
      }
    }

    &-link {
      display: inline-flex;
      align-items: center;
      column-gap: 6px;
      height: 30px;
      color: var(--color-white);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1.2px;

      @include hover {
        color: var(--color-light-gray);
      }

      @include mobile {
        font-size: 20px;
      }

      &.is-current::after {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: currentColor;

        @include mobile {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  &__burger-button {
    @include mobile-above {
      display: none;
    }

    @include mobile {
      position: relative;
      z-index: 101;
    }
  }
}