@charset "UTF-8";
@font-face {
  font-family: "Heebo";
  src: url("../../fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("../../fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yantramanav";
  src: url("../../fonts/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
  /*color: currentColor;
  text-decoration: none;*/
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-dark: #000000;
  --color-dark-alt: #131619;
  --color-white: #FFFFFF;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;
  --border-radius: 30px;
  --border: 1px solid var(--color-white);
  --font-family-base: "Heebo";
  --font-family-accent: "Yantramanav";
  --input-height: 54px;
  --container-width: 1300px;
  --container-pading-x: 15px;
  --transition-duration: 0.2s;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-light-gray);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  background-color: var(--color-dark);
}

.container {
  max-width: calc(var(--container-width) + var(--container-pading-x) * 2);
  padding-inline: var(--container-pading-x);
  margin-inline: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

a,
button,
textarea,
input,
svg * {
  transition-duration: var(--transition-duration);
}

.button {
  height: 38px;
  display: inline-flex;
  align-items: center;
  padding: 7px max(1.35vw, 18px);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  font-size: max(10px, 0.625vw);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: var(--color-light-gray);
  }
}
@media (any-hover: none) {
  .button:active {
    background-color: var(--color-light-gray);
  }
}

.burger-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  background-color: transparent;
  border: var(--border);
  border-radius: 50px;
}
.burger-button.is-active .burger-button__line {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
.burger-button.is-active .burger-button__line--2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}
.burger-button:not(.is-active) .burger-button__line--3 {
  stroke-dasharray: 30 207;
  stroke-dashoffset: -30;
}
.burger-button__line {
  fill: none;
  stroke: var(--color-white);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 60 207;
  transition: stroke-dasharray 0.4s cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-button__line--2 {
  stroke-dasharray: 60 60;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-dark-alt);
}
.header__inner {
  padding: 16px;
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
  padding-block: max(16px, 1.2vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}
@keyframes scrolling-header {
  to {
    padding-block: 10px;
  }
}
@media (width > 768px) {
  .header__overlay-menu {
    display: contents;
  }
}
@media (width <= 768px) {
  .header__overlay-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-gray);
    transition-duration: 0.2s;
    transition-behavior: allow-discrete;
  }
  .header__overlay-menu[open] {
    display: flex;
  }
  @starting-style {
    .header__overlay-menu[open] {
      opacity: 0;
      translate: 100%;
    }
  }
  .header__overlay-menu:not([open]) {
    opacity: 0;
    translate: 100%;
  }
}
@media (width > 768px) {
  .header__menu-list {
    display: flex;
    align-items: center;
    column-gap: 3.23vw;
  }
}
@media (width <= 768px) {
  .header__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
  height: 30px;
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
@media (any-hover: hover) {
  .header__menu-link:hover {
    color: var(--color-light-gray);
  }
}
@media (any-hover: none) {
  .header__menu-link:active {
    color: var(--color-light-gray);
  }
}
@media (width <= 768px) {
  .header__menu-link {
    font-size: 20px;
  }
}
.header__menu-link.is-current::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: currentColor;
}
@media (width <= 768px) {
  .header__menu-link.is-current::after {
    width: 10px;
    height: 10px;
  }
}
@media (width > 768px) {
  .header__burger-button {
    display: none;
  }
}
@media (width <= 768px) {
  .header__burger-button {
    position: relative;
  }
}

/*# sourceMappingURL=styles.css.map */
